@{
    ViewData["Title"] = "Home Page";
}


<div style="background:#ffc947 !important" class="jumbotron">
    <h1 align="center">Welcome to Disaster Relief</h1>
</div>
<div class="row">
    <div class="col order-5" align="center">
        <p>
            The Disaster Alleviation Foundation, is a non‐profit organisation.
            The foundation’s mission is to provide practical aid during disasters.
        </p>
    </div>
</div>
